.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 300px;
  padding-top: 30px
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  font-weight: bold;
  font-size: 2.3vmax;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.menu {
  text-transform: uppercase;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 54px;
  flex-shrink: 1;
}

.menu__item {
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1vmax;
  padding-bottom: 10px;
  transition: color 0.2s;
}

.menu__link:hover {
  cursor: pointer;
  color: #F4BF87;
  border-bottom: 2px solid #F4BF87;
}

.menu__icon {
  fill: white;
  padding-bottom: 10px;
  transition: fill 0.2s;
}

.menu__icon:hover {
  fill: #F4BF87;
}