.welcome__block {
  position: relative;
  background-image: url(../image/backgroung1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__inner {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.welcome__head1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 6vmin;
  color: white;
}

.welcome__head2 {
  font-weight: bold;
  font-size: 14vmin;
  color: white;
}

.welcome__head2::after {
  content: "";
  display: block;
  width: 7vw;
  height: 4px;
  background-color: white;
  margin: 4vmax auto;
}

.welcome__button {
  color: white;
  border: 2px solid white;
  display: inline-block;
  padding: 15px 35px;
  transition: background-color 0.2s;
}

.welcome__button:hover {
  cursor: pointer;
  color: #F4BF87;
  background-color: white;
  border: 2px solid #F4BF87;
}

.welcome__slider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.welcome__slider__item_extra {
  position: relative;
  list-style: none;
  padding: 20px 0;
  color: white;
  border-top: 3px solid white;
  width: 20%;
}

.welcome__slider__item_extra::before {
  content: "";
  width: 20%;
  height: 3px;
  position: absolute;
  top: -3px;
  background-color: #F38281;
}

.welcome__slider__item {
  list-style: none;
  padding: 20px 0;
  color: white;
  border-top: 3px solid white;
  width: 20%;
  opacity: 0.6;
}

.welcome__slider__number {
  font-weight: bold;
  font-size: 20px;
}