.about {
  margin: 80px 0;
}

.about__header {
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
  max-width: 950px;
}

.about__head1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  margin-bottom: 15px;
}

.about__head2 {
  font-size: 30px;
}

.about__head2::after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: #F38281;
  margin: 50px auto 40px;
}

.about__paragr {
  font-family: 'Raleway', sans-serif;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px
}

.card {
  text-align: center;
  position: relative;
  text-align: center;
  align-content: center;
}


.card__background {
  position: relative;
  background-color: #95E1D3;
  opacity: 1;
}

.card__inner {
  transition: all 0.3s linear
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
}

.card:hover .card__inner {
  cursor: pointer;
  transform: translate3d(-10px, -10px, 0);
}

.card__img::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  opacity: 0;
  transition: all 0.2s linear
}

.card:hover .card__img::after {
  opacity: 0.8
}

.card__content {
  font-size: 18px;
  text-align: center;
  width: 100%;
  opacity: 0;
  color: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .3s linear;
}

.card__content__icon {
  fill: white;
}

.card:hover .card__content {
  opacity: 1
}

.card__content__text {
  font-family: 'Raleway', sans-serif;
}