.statistics {
  background-color: #95E1D3;
  padding: 0 5vw;
}

.statistics__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statistics__info__item {
  color: white;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  text-align: center;
  color: #fff;
  padding: 60px 20px
}

.statistics__number {
  font-size: 64px;
}