.services {
  margin: 70px 0;
}

.services__header {
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
  max-width: 950px;
}

.services__head1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  margin-bottom: 15px;
}

.services__head2 {
  font-size: 30px;
}

.services__head2::after {
  content: "";
  display: block;
  width: 20%;
  height: 3px;
  background-color: #F38281;
  margin: 50px auto 40px;
}

.services__items {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.services__item {
  flex-grow: 1;
  position: relative;
  padding-left: 80px;
}

.services__item__icon {
  position: absolute;
  top: 0;
  left: 20px;
  width: 50px;
  height: 50px;
  transition: transform 0.3s linear;
}

.services__item__icon:hover {
  transform: rotate(360deg);
}

.services__item__title {
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  color: #2D3033;
  transition: transform 0.5s linear;
}

.services__item__text {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #2D3033;
}

.services__item__title:hover + .services__item__icon {
  transform: rotate(360deg);
}